.AccountWrapper{
    width:800px;
    height:600px;
    display:flex;
    left:0;
    right:0;
    margin:0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.AccountWrapper h1{
    font-size: 35px;
    margin:30px;
    font-weight: 600;
    margin-top:200px;
}

.Account_input{
    margin-left: -60px;
    display:flex;
    flex-direction: column;
    width:300px;
    height:200px;
}

.Account_input input{
    width:350px;
    height:40px;
}

.button{
    margin-top: 30px;
    width:90px;
    height:40px;
    font-size: 20px;
}

.idcheck{
    display:flex;
    justify-content: space-between;
    width:470px;
    height: 50px;
}

.idcheck input{
    width:350px;
    height:40px;
}

.idcheck button{
    width: 80px;
    height: 45px;
    font-size: 12px;
    margin-right: 20px;
}

.admin_div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 50px;
}

.admin_div input{
    width:30px;
    height: 30px;
}

