@import '../reset.css';

.Wrapper{
    display:flex;
    justify-content: space-between;
}

.LoginWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:200px;
    height: 200px;
    background-color: fuchsia;
    flex-direction: column;
}

.LoginWrapper h1{
    font-size: 20px;
    font-weight: 500px;
}


.itemsWrapper{
    width:500px;
    height: 500px;
    background-color: aqua;
    display:flex;
    justify-content: center;
}

.itemsWrapper h1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}